.dashboard-sub {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.dashboard-panels {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-card {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 40px 10px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
}

.dashboard-card h2 {
    margin-bottom: 0.5rem;
}

.dashboard-card p {
    margin-bottom: 1rem;
}

.dashboard-card select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 100%;
}