:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  background-color: #e5e7eb;
  /* light color outer layer*/
  font-family: Arial, Helvetica, sans-serif;
}


.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  text-align: center;
}

button {
  border: 0.5vmin solid #1a1a1a;
  border-radius: 0.5vmin;
  padding: 0.8vmin;
  font-size: 2vmin;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: whitesmoke;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #1a1a1a;
  border-color: #1a1a1a;
}

button:disabled {
  background-color: grey;
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.5vmin solid #1a1a1a;
  border-radius: 1vmin;
}

input,
select,
textarea {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid #1a1a1a;
  border-radius: 0.5vmin;
}

form>button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.error-message {
  color: rgb(166, 29, 29);
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: #1a1a1a;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 0.5vmin;
  font-weight: 500;
}

.btn:hover {
  background-color: white;
  color: #1a1a1a;
  border: 0.5vmin solid #1a1a1a;
}

.btn.small {
  font-size: 0.9rem;
  padding: 0.3em 0.8em;
}